<div>
    <div class="containerLg" ng-if="stationData">
        <h2>{{stationData.name}}</h2>
        <h3>Best time to get a bicycle (Mon-Fri)</h3>
        <tabset justified="true" type="pills">
            <tab ng-repeat="day in bestTimes" heading="{{day.day}}">
                <div class="well clockWell">
                    <div class="clockSection">
                        <h4>Peak morning (06:30 to 09:29)</h4>
                        <div class="clock"><span class="number-wrapper"><div class="caption">HOURS</div><span class="number hour">{{day.morning.getHours()}}</span></span><span class="number-wrapper"><div class="caption">MINS</div><span class="number min">{{day.morning.getMinutes()}}</span></span>
                        </div>
                    </div>
                </div>
                <div class="well clockWell">
                    <div class="clockSection">
                        <h4>Peak evening (16:00 to 18:59)</h4>
                        <div class="clock"><span class="number-wrapper"><div class="caption">HOURS</div><span class="number hour">{{day.morning.getHours()}}</span></span><span class="number-wrapper"><div class="caption">MINS</div><span class="number min">{{day.morning.getMinutes()}}</span></span>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
        <h3>Historical trends and analytics</h3>
        <tabset justified="true" type="pills">
            <tab select="loadLive()">
                <tab-heading>Last hour</tab-heading>
                <div class="well" style="height:330px; margin-top:5px;">
                    <h4>Last hour (updates automatically)</h4>
                    <span ng-if="stationLiveData.length>=6">
                        <canvas id="live" height="325" class="chart chart-line" data="data.data" labels="data.labels" colours="data.colours" options="stationLiveOptions" legend="false" series="data.series" click="onClick">
                        </canvas>
                    </span>
                    <span ng-if="stationLiveData.length<=5">
                        <h3><small><center>Data is currently being generated</center></small></h3>
                    </span>
                    <div class="svgCenter" ng-if="!stationLiveData && !errorMessage">
                        <div ng-include="'shared/loading/loading.html'"></div>
                    </div>
                </div>
            </tab>
            <tab select="loadHourly()">
                <tab-heading>
                    Last 48 hours
                </tab-heading>
                <div class="well" style="height:330px; margin-top:5px;">
                    <h4>Last 48 hours</h4>
                    <span ng-if="stationHourlyData.length>=2">
                        <canvas id="hourly" height="325" class="chart chart-line" data="dataHourly.data" labels="dataHourly.labels" colours="dataHourly.colours" options="stationHourlyOptions" legend="false" series="dataHourly.series" click="onClick">
                        </canvas>
                                 </span>
                    <span ng-if="stationHourlyData.length<=2">
                        <h3><small><center>Data is currently being generated</center></small></h3>
                    </span>
                    <div class="svgCenter" ng-if="!stationHourlyData && !errorMessage">
                        <div ng-include="'shared/loading/loading.html'"></div>
                    </div>
                </div>
            </tab>
            <tab ng-click="stopLiveReload()" heading="Daily average">Long Labeled Justified content</tab>
        </tabset>

    </div>
    <div class="containerLg" ng-if="errorMessage">
        <div class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> Data could not be retrieved, please try again later
        </div>
    </div>
</div>