<div>
    <div class="containerLg">
        <h2>About</h2>
        <div class="well">
            <h3>Introduction</h3>
            <p>Cycle Analytics has been created to provide both real-time and historical analysis of Barclays cycle stations (aka Borris bikes) within London.</p>
            <p>In total there are around 700 stations within London where these bicycles can be rented from, each station updates a government server every 30 seconds with information reguarding information about the station such as; bicycles availabile or empty slots available (to drop cycles off).</p>
            <p>To view the source files for this project, as well as contribute, please see the official GitHub project page here <a href="https://github.com/mussrya/Cycle-analytics">GitHub project page</a>
            <br/>
            <h3>How it works</h3>
            
            <br/>
            <h3>Additional links</h3>
            <p><a href="http://uk.linkedin.com/in/ryanmusselwhite/en">Author's LinkedIn profile page</a> - shameless plug of my LinkedIn profile</p>
            <p><a href="https://github.com/mussrya/Cycle-analytics">GitHub project page</a> - here you can find the source files for the majority of this project (excluding any binary files such as node or mongodb).</p>
            <p><a href="http://www.tfl.gov.uk/info-for/open-data-users/">Government public data API site</a> - as well as the cycle data used within this platform there are many other types of data available</p>
            <p><a href="https://web.barclayscyclehire.tfl.gov.uk/maps">Official Barclays cycle hire page</a> - this page contains the official searching for docking stations with realtime information</p>
        </div>
    </div>
</div>