/* Core CSS */

body {
    background: #E7E9EC;
    height: 100%;
}

a {
    color: #00BCD4;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

nav.navbar-default {
    background: #03A9F4;
    border: 0;
    border-bottom: 8px solid #00BCD4;
    border-radius: 0;
}

nav.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 15px;
}

nav.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

nav.navbar-default .navbar-nav>.active>a,
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover {
    background: #00BCD4;
    color: #EEEEEE;
}

nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: #00BCD4;
}

nav.navbar-default .navbar-toggle {
    border-color: #fff;
}

@media (min-width: 768px) {
    nav.navbar>.container .navbar-brand,
    nav.navbar>.container-fluid .navbar-brand {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    ul.navbar-nav {
        margin-left: 30px;
    }
}

div.containerLg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.well {
    background: #FFFFFF;
}

.col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
}

.custom {
    font-size: 12px;
    line-height: 20px;
    color: #777777;
    text-align: center;
    height: 40px;
}

.custom-pad {
    padding-top: 10px;
}

.custom-float {
    float: right;
}

.custom-width {
    max-width: 80%;
    min-width: 20%;
}

.progress-bar-info {
    background-color: #03A9F4;
}

.progress-bar {
    transition: width 1s ease-in-out;
}

.btnLoad {
    background: #00BCD4;
    border-color: #04a1b5;
    color: #fff;
    width: 100%;
}

.btnLoad:hover {
    background: #03A9F4;
    border-color: #0691d0;
    color: #fff;
}

.navbar-brand>img {
    display: inline;
}

.chart-container {
    height: 400px;
}

.nav-tabs.nav-justified .active a,
.nav-tabs.nav-justified .active a:focus,
.nav-tabs.nav-justified .active a:hover {
    border: 1px solid #FFFFFF;
}

.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
    background: #00BCD4;
    color: #FFFFFF;
}

.cycle-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
    margin-top: 0;
}

.feed-element,
.media-body {
    overflow: hidden;
}

.feed-element {
    padding: 10px 0px 10px 0px;
}

.pull-right {
    color:#8f8f8f;
}