/* Core CSS */

body {
    background: #E7E9EC;
    height: 100%;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #00BCD4;
    outline: none;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

nav.navbar-default {
    background: #03A9F4;
    border: 0;
    border-bottom: 8px solid #00BCD4;
    border-radius: 0;
}

nav.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 600;
}

nav.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

nav.navbar-default .navbar-nav>.active>a,
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover {
    background: #00BCD4;
    color: #EEEEEE;
    font-weight: 600;
}

nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: #00BCD4;
}

nav.navbar-default .navbar-toggle {
    border-color: #fff;
}

@media (min-width: 300px) {
    nav.navbar>.container .navbar-brand,
    nav.navbar>.container-fluid .navbar-brand {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    ul.navbar-nav {
        margin-left: 30px;
    }
}

div.containerLg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.well {
    background: #FFFFFF;
    padding: 10px 19px 19px 19px;
}

div.input-group {
    margin-top: 10px;
}

.col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
}

.custom {
    font-size: 12px;
    line-height: 20px;
    color: #777777;
    text-align: center;
    height: 40px;
}

.custom-pad {
    padding-top: 10px;
}

.custom-float {
    float: right;
}

.custom-width {
    max-width: 80%;
    min-width: 20%;
}

.progress-bar-info {
    background-color: #03A9F4;
}

.box {
    padding: 5px;
    margin: 10px 0px 20px 0px;
    border: 1px solid #eee;
    border-left-color: #6BC89A;
    border-left-width: 5px;
    border-radius: 3px;
}

.box h4 {
    padding-left: 10px;
}

.legend {
    width: 420px;
    margin: 0 auto;
    padding-bottom: 10px;
    clear: both;
}

.legendOk,
.legendWarn,
.legendIssue {
    border-left: 18px solid #6BC89A;
    float: left;
    margin-right: 25px;
    padding-left: 8px;
}

@media (max-width: 600px) {
    .legend {
        width: 160px;
    }
    .legendOk,
    .legendWarn,
    .legendIssue {
        float: none;
        margin: 5px 0px 0px 15px;
    }
}

@media (min-width: 900px) {
    .activity .col-lg-3 {
        width: 25%;
        float: left;
    }
    .activity .ibox-content .station {
        margin:5px;
    }
}

@media (max-width: 900px) {
    .activity .ibox-content .no-margins {
        text-align: center;
    }
    .activity .ibox-content .station {
        margin-top: 0;
        margin-top:20px;
    }
}

.boxWarn,
.legendWarn {
    border-color: rgba(255, 174, 0, 0.6);
}

.boxIssue,
.legendIssue {
    border-color: #C86B6B;
}

.section.ng-enter,
.section.ng-enter .custom {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.section.ng-enter .custom {
    width: 0px;
}

.section.ng-enter-active .custom {
    width: 100%;
}

.btnLoad {
    background: #00BCD4;
    border-color: #04a1b5;
    color: #fff;
    width: 100%;
}

.btnLoad:hover {
    background: #03A9F4;
    border-color: #0691d0;
    color: #fff;
}

.navbar-brand>img {
    display: inline;
}

.chartContainer {
    height: 330px;
    margin-top: 5px;
}

.nav-pills li.active a,
.nav-pills li.active a:focus,
.nav-pills li.active a:hover {
    background: #00BCD4;
    color: #FFFFFF;
}

.ibox-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0px;
}

.customMargin {
    margin-top: 30px;
}

.pull-right {
    color: #8f8f8f;
}

.alert-danger {
    text-align: center;
}

h3 {
    margin-top: 0px;
}

.pull-right {
    color: #fff;
}

.label-success {
    background-color: #00BCD4;
}

.label-info {
    background-color: #03A9F4;
}

.activity .ibox-content {
    height: 105px;
}

.activity .ibox-content .station {
    font-size: 19px;
}
/* Clock */

.clockSection {
    text-align: center;
}

.clear {
    clear: both;
}

.clock {
    font-size: 60px;
    font-family: Helvetica;
    color: #eee;
    font-weight: bold;
}

.clock .number-wrapper {
    margin: 10px;
    position: relative;
}

.clock .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #333;
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
    width: 40%;
}

.clock .caption {
    font-size: 12px;
    position: absolute;
    bottom: -30px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #777;
}

.clockWell {
    float: left;
    width: 50%;
    margin-top: 5px;
}

@media (max-width: 767px) {
    .clockWell {
        float: none;
        width: 100%;
        margin-top: 5px;
    }
}

@media (min-width: 268px) {
    .nav-justified>li {
        display: table-cell;
        width: 1%
    }
    /* Loading animation */
    
    .svgCenter {
        text-align: center;
    }
    .svgLoader {
        height: 15vmin;
        margin-top: 60px;
        vertical-align: top;
        text-align: center;
    }