/* Core CSS */

body {
    background: #E7E9EC;
    height: 100%;
}

a {
    color: #00BCD4;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

nav.navbar-default {
    background: #03A9F4;
    border: 0;
    border-bottom: 8px solid #00BCD4;
    border-radius: 0;
}

nav.navbar-default .navbar-brand {
    color: #FFFFFF;
    font-size: 18px;
    padding: 10px 15px;
}

nav.navbar-default .navbar-nav>li>a {
    color: #FFFFFF;
}

nav.navbar-default .navbar-nav>.active>a,
nav.navbar-default .navbar-nav>.active>a:focus,
nav.navbar-default .navbar-nav>.active>a:hover {
    background: #00BCD4;
    color: #EEEEEE;
}

nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFFFFF;
}

nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: #00BCD4;
}

nav.navbar-default .navbar-toggle {
    border-color: #fff;
}

@media (min-width: 768px) {
    nav.navbar>.container .navbar-brand,
    nav.navbar>.container-fluid .navbar-brand {
        font-size: 28px;
    }
}

@media (min-width: 768px) {
    ul.navbar-nav {
        margin-left: 30px;
    }
}

div.containerLg {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

div.well {
    background: #FFFFFF;
}

.col-lg-6 {
    width: 100%;
    margin-bottom: 20px;
}

.custom {
    font-size: 12px;
    line-height: 20px;
    color: #777777;
    text-align: center;
    height: 40px;
}

.custom-pad {
    padding-top: 10px;
}

.custom-float {
    float: right;
}

.custom-width {
    max-width: 80%;
    min-width: 20%;
}

.progress-bar-info {
    background-color: #03A9F4;
}

.progress-bar {
    transition: width 1s ease-in-out;
}

.btnLoad {
    background: #00BCD4;
    border-color: #04a1b5;
    color: #fff;
    width: 100%;
}

.btnLoad:hover {
    background: #03A9F4;
    border-color: #0691d0;
    color: #fff;
}

.navbar-brand>img {
    display: inline;
}

.chart-container {
    height: 300px;
}

.nav-tabs.nav-justified .active a,
.nav-tabs.nav-justified .active a:focus,
.nav-tabs.nav-justified .active a:hover {
    border: 1px solid #FFFFFF;
}

.nav-tabs li.active a,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:hover {
    background: #00BCD4;
    color: #FFFFFF;
}

.cycle-content {
    background-color: #ffffff;
    color: inherit;
    padding: 15px 20px 20px 20px;
}

.feed-activity-list .feed-element {
    border-bottom: 1px solid #e7eaec;
}

.feed-element:first-child {
    margin-top: 0;
}

.feed-element,
.media-body {
    overflow: hidden;
}

.feed-element {
    padding: 10px 0px 10px 0px;
}

.pull-right {
    color: #8f8f8f;
}

.alert-danger{
    text-align:center;
}

/* Clock */

.clockSection {
    width: 300px;
    float: left;
}

.clear {
    clear: both;
}

.clock {
    font-size: 60px;
    font-family: Helvetica;
    color: #eee;
    font-weight: bold;
}

.clock .number-wrapper {
    margin: 10px;
    -moz-box-shadow: 0 5px 8px #000000;
    -webkit-box-shadow: 0 5px 8px #000000;
    box-shadow: 0 5px 8px #000000;
    position: relative;
}

.clock .number {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background: #000;
    background-image: linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -webkit-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    background-image: -ms-linear-gradient(bottom, #000000 2%, #3c3c3c 50%, #000000 100%);
    -webkit-border-top-right-radius: 7px;
    -webkit-border-bottom-right-radius: 0;
    -webkit-border-bottom-left-radius: 0;
    -webkit-border-top-left-radius: 0;
    -moz-border-radius-topright: 7px;
    -moz-border-radius-bottomright: 0;
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-topleft: 0;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    padding: 0 12px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 1px solid #555;
    -moz-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 4px 0 rgba(255, 255, 255, 0.2);
    -moz-text-shadow: 0 3px 3px #000000;
    -webkit-text-shadow: 0 3px 3px #000000;
    text-shadow: 0 3px 3px #000000;
}

.clock .line {
    position: absolute;
    width: 100%;
    height: 1px;
    top: 52%;
    left: 0;
    background: #000;
    -moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
}

.clock .caption {
    font-size: 12px;
    position: absolute;
    bottom: -30px;
    left: 0;
    text-align: center;
    width: 100%;
    color: #777;
}