<div>
    <div class="containerLg">
        <h2>Activity</h2>
        <div class="well">
            <div class="cycle-content">
                <div class="feed-activity-list">
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">1 minute ago</small>
                            <strong><a href="/#/station/1">River Street , Clerkenwell</a></strong> rented out a bicycle
                        </div>
                    </div>
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">1 minute ago</small>
                            <strong>River Street , Clerkenwell</strong> returned a bicycle
                        </div>
                    </div>
                    <div class="feed-element">
                        <div class="media-body ">
                            <small class="pull-right">1 minute ago</small>
                            <strong>River Street , Clerkenwell</strong> rented out a bicycle
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>