<div class="containerLg">
    <h2>Activity dashboard (Prototype)</h2>
    <div class="row activity">
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Realtime</span>
                    <h5>Bikes available</h5>
                </div>
                <div class="ibox-content">
                    <div class="svgCenter dashboard" ng-if="!totalBikes && !errorMessage">
                        <div class="dashboard" ng-include="'shared/loading/loading.html'"></div>
                    </div>
                    <h1 class="no-margins">{{totalBikes[0].total}}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-info pull-right">Realtime</span>
                    <h5>Slots available</h5>
                </div>
                <div class="ibox-content">
                    <div class="svgCenter dashboard" ng-if="!totalSlots && !errorMessage">
                        <div class="dashboard" ng-include="'shared/loading/loading.html'"></div>
                    </div>
                    <h1 class="no-margins">
                        {{totalSlots[0].total}}
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Today</span>
                    <h5>Bikes rented out</h5>
                </div>
                <div class="ibox-content">
                    <div class="svgCenter dashboard" ng-if="!totalRented && !errorMessage">
                        <div class="dashboard" ng-include="'shared/loading/loading.html'"></div>
                    </div>
                    <h1 class="no-margins">{{totalRented[0].diff}}</h1>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-success pull-right">Today</span>
                    <h5>Most popular station</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins station"><a href="/#/station/408">Paddington Green Police Station, Paddington</a></h1>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    <div class="row m-t-lg customMargin">
        <div class="col-lg-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Realtime</span>
                        <h4>Station activity <small><a href="/#/stations">(view individual stations)</a></small></h4>
                    </div>
                    <div class="ibox-content">
                        <h4>Last hour</h4>
                        <span ng-if="stationLiveData.length>=6">
                        <canvas id="live" height="250" class="chart chart-line" data="data.data" labels="data.labels" colours="data.colours" options="stationLiveOptions" legend="false" series="data.series" click="onClick">
                        </canvas>
                    </span>
                        <span ng-if="stationLiveData.length<=5">
                        <h3><small><center>Data is currently being generated</center></small></h3>
                    </span>
                        <div class="svgCenter" ng-if="!stationLiveData && !errorMessage">
                            <div ng-include="'shared/loading/loading.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-t-lg">
        <div class="col-lg-6">
            <div>
                <div class="row ">
                    <div class="col-md-6">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Today</span>
                            <h4>Stations run out of bikes</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="stationList"><a href="/#/station/1">River Street , Clerkenwell</a>
                            </div>
                            <div class="stationList"><a href="/#/station/2">Phillimore Gardens, Kensington</a>
                            </div>
                            <div class="stationList"><a href="/#/station/3">Christopher Street, Liverpool Street</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="ibox-title">
                            <span class="label label-success pull-right">Today</span>
                            <h4>Stations run out of empty slots</h4>
                        </div>
                        <div class="ibox-content">
                            <div class="stationList"><a href="/#/station/14">Belgrove Street , King's Cross</a>
                            </div>
                            <div class="stationList"><a href="/#/station/15">Great Russell Street, Bloomsbury</a>
                            </div>
                            <div class="stationList"><a href="/#/station/20">Drummond Street , Euston</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>