<div class="containerLg">
    <h2>Cycle hire stations in real time</h2>
    <div class="well">
        <br/>
        <div class="row">
            <div class="col-lg-6">
                <div class="input-group">
                    <input type="text" typeahead-template-url="shared/typeahead/typeahead-popup.html" ng-model="selected" typeahead-on-select="callBack($item, $model)" typeahead="stations as stations.name for stations in dataRealTime | filter:$viewValue | limitTo:8" class="form-control" placeholder="search stations">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                    </button>
                    </span>
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-lg-6 -->
        </div>
        <!-- /.row -->
        <div>
            <div class="section" ng-repeat="stations in dataRealTimeChild">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{stations.name[0]}}</h3>
                    </div>
                    <div class="panel-body">
                        <h4>Bikes available / Empty slots</h4>
                        <div class="progress custom">
                            <span ng-if="stations.nbEmptyDocks[0]!=0 && stations.nbBikes[0]!=0">
                                <span ng-if="stations.nbEmptyDocks[0]!=0">
                                    <div class="custom-float custom-pad custom-width" style="width: {{(100-(stations.nbBikes[0] / stations.nbDocks[0]) * 100)}}%">{{stations.nbEmptyDocks[0]}} slots</div>
                                </span>
                            <span ng-if="stations.nbBikes[0]!=0">
                                    <div class="progress-bar progress-bar-info custom-pad custom-width" role="progressbar" animate="true" aria-valuenow="{{stations.nbBikes[0]}}" aria-valuemin="0" aria-valuemax="{{stations.nbDocks[0]}}" style="width: {{(stations.nbBikes[0] / stations.nbDocks[0]) * 100}}%">
                                        {{stations.nbBikes[0]}} bikes
                                    </div>
                                </span>
                            </span>
                            <span ng-if="stations.nbEmptyDocks[0]==0 || stations.nbBikes[0]==0">
                                <span ng-if="stations.nbEmptyDocks[0]!=0">
                                    <div class="custom-float custom-pad" style="width: {{(100-(stations.nbBikes[0] / stations.nbDocks[0]) * 100)}}%">{{stations.nbEmptyDocks[0]}} slots</div>
                                </span>
                            <span ng-if="stations.nbBikes[0]!=0">
                                    <div class="progress-bar progress-bar-info custom-pad" role="progressbar" animate="true" aria-valuenow="{{stations.nbBikes[0]}}" aria-valuemin="0" aria-valuemax="{{stations.nbDocks[0]}}" style="width: {{(stations.nbBikes[0] / stations.nbDocks[0]) * 100}}%">
                                        {{stations.nbBikes[0]}} bikes
                                    </div>
                                </span>
                            </span>
                        </div>
                        <!-- ID: {{stations.id[0]}}
                    <br/> Installed: {{stations.installed[0]}}
                    <br/> Locked: {{stations.locked[0]}}
                    <br/> nbBikes: {{stations.nbBikes[0]}}
                    <br/> nbEmptyDocks: {{stations.nbEmptyDocks[0]}}
                    <br/> nbDocks: {{stations.nbDocks[0]}}
                    <br/>-->
                        <div class="btnLoad btn" ng-click="changeView(stations.id[0])">view trends and historical data</div>
                    </div>
                </div>
            </div>
            <div id="loadMore"></div>
        </div>
    </div>